
.Card_Container{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Card_Content{
        height: auto;
        padding: 20px;

}

