@import url("https://fonts.googleapis.com/css?family=Fira+Sans");


.container {
    display: flex;
    justify-content: space-around;
}


.Navbar_item {
    font-size: larger;
    font: 30px sans-serif;
    color: green;
}
